body {
    background: #ede7f6;
  }
  .img {
    display: flex;
    width: -10%;
    height: 50%;
  }
  .imgcontainer {
    text-align: center;
    margin: 6px 0 0px 0;
    padding:20;
  }
  h1 {
      text-align:center;
      color: #070572ce;
      font-family: sans-serif;
      font-size: large;
  }
  p {
      text-align: center;
      font-family: sans-serif;
  }
  
  .text-box {
      background-color:white;
      padding: 20;
      border: 0px solid #f1f1f1;
      border-width: 0px;
    
      height:10%;
      color: white;
      display: flex;
      justify-content:space-between;
      align-content: space-around;
      }
    
  .alignright {
        float: right;
        color:white;
        justify-content: right;
        font-size:medium;
}
    .alignleft {
        width: 33.33%;
        padding: -15px;
        font-size: xx-large;
        margin-left: 100px;
        padding-top: 0px;
        text-align: left;
        color: white;
    }
  
  
  a {
    text-decoration: none;
  
  }
  .mainlogin {
    margin:auto;
    background: white;
    bottom: 0 1px 1px rgb(0, 0, 0,0.4);
    padding: 0;
    float:center;
    border-bottom-style:1px solid black;
    align-items: center;
    background-color: #f1f1f1;
    display:flex;
    width: 30%;
    height: 20%;
    border-radius: 5px;
  }
  
    h2, h6 {
      display: inline;
      cursor: pointer;
      padding: 20px;
      margin-left: -5px;
      color: white;
      font-family: sans-serif;
    }
    

  input {
    width: 100%;
    outline:none;
    margin: 1rem 0 1rem 0;
    border-width:5px; 
    border-bottom-style:solid;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    font-size: large;
    font-family: 'Arial Narrow Bold';
    text-align: left;
    justify-content: space-around;
    
    background-color: transparent;
  }
 
  
  button {
    background-color:darkblue;
    color: white;
    padding: 14px 20px;
    margin: 10px 10px;
    border: none;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    width: 50%;
    display: flex;
    outline: none;
  }
  .button{
    display: flex;
    text-align: center;
  
  }
  
  .psw {
      text-align: center;
      padding: 20;
      margin: 10px;

  }
